<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BMI Calculator</title>
  <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
  <div class="bmi-container">
    <h1>BMI Calculator</h1>
    <form action="/calculate" method="post">

      <div class="input-group">
      <label for="height">Height (cm)</label>
      <input type="number" id="height" placeholder="Enter height" name="length" required> 
      </div>

      <div class="input-group">
        <label for="weight">Weight (kg)</label>
        <input type="number" id="weight" placeholder="Enter weight" name="mass" required>
      </div>

      <button id="calculateBtn" type="submit">Calculate BMI</button>
    </form>

    <div id="result">
      <% if(bmi === null) { %>
        <p>Check Your Body Index</p>
      <%  } else if(bmi < 18.5) { %>
        <P> <%= bmi %> , You are Underweight</P>
      <% } else if(bmi >= 18.5 && bmi < 24.9) { %>
        <p> <%= bmi %> , Normal</p>
      <% } else if(bmi >= 25 && bmi < 29.9) { %>
        <p> <%= bmi %> , Overweight</p>
      <% } else { %>
        <p> <%= bmi %> , Obses</p>
      <% } %>
    </div>
  </div>

  <script src="/javascript/app.js"></script>
</body>
</html>
